/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4-Mar-2014, 6:07:40 PM
    Author     : kaisun
*/
#center{
    margin-left: 35%; 
    margin-top: 10%;
    margin-bottom: 10%;
}

#real_center {
    margin-left:auto;
    margin-right:auto;
    width:20%;
}

#iamge1{
    margin-left:15%;
}

#table{
   float:left;
   margin-left: 10%;
}

#fontColor a{
   color: #1aab9f;
}

