/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-Mar-2014, 9:03:44 PM
    Author     : kaisun
*/

#arrow_box {
        position:relative;   
	background: #d5135a;
	border: 1px solid #030202;
        width: 28%;
        
        float: right;
        display: block;
        color: #E9E9E9;
        margin-top: -80px;
        margin-right: 20%; 
}
#arrow_box:after, #arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}


#arrow_box:after {
	border-color: rgba(213, 19, 90, 0);
	border-left-color: #d5135a;
	border-width: 10px;
	margin-top: -10px;
}
#arrow_box:before {
	border-color: rgba(3, 2, 2, 0);
	border-left-color: #030202;
	border-width: 18px;
	margin-top: -18px;
}



#arrow_box2 {
        display: none;
	position: relative;
	background: #2dd5b3;
	border: 2px solid #030202;
        width: 15%;
        margin-top: 1%;
      
}
#arrow_box2:after, #arrow_box2:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#arrow_box2:after {
	border-color: rgba(45, 213, 179, 0);
	border-bottom-color: #2dd5b3;
	border-width: 8px;
	margin-left: -8px;
}
#arrow_box2:before {
	border-color: rgba(3, 2, 2, 0);
	border-bottom-color: #030202;
	border-width: 11px;
	margin-left: -11px;
}